 .input-group {
     margin-bottom: 20px;
 }

 .input-group input,
 .input-group textarea,
 .input-group select {
    padding: 10px;
    border: solid 1px #999;
    border-radius: 10px;
    width: 100%;
 }

 label {
     font-weight: 600;
 }

 input[type="reset"]{
     background: transparent;
     border: 0;
     text-decoration: underline;
     cursor: pointer;
     padding-right: 30px;
     padding-left: 20px;
     font-size: 100%;
 }

 input[type="submit"]{
    border: solid 1px  #f6aeae;
    border-radius: 3px;
    padding: 10px;
    background: #a493c0;
    color: #fff;
    font-size: 100%;
}

@media only screen and (min-width: 768px){
    article{
        width: 350px;
    }
}